.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div1 {
  background: red;
  
}

.div2 {
  background: yellow;
}

.div3 {
  background: green;
}

.div4 {
  background: blue;
}

.div5 {
  background: rgb(99, 233, 72);
}
.div6 {
  background: rgb(255, 0, 149);
}
.div7 {
  background: rgb(255, 174, 0);
}
.div8 {
  background: rgb(180, 180, 255);
}
.div9 {
  background: rgb(51, 5, 124);
}
.div10 {
  background: rgb(186, 226, 6);
}
.div11 {
  background: rgb(170, 60, 9);
}
.div12 {
  background: rgb(19, 168, 94);
}

/* ::after, ::before {
  box-sizing: border-box;
  background: chocolate;
} */

.div-color{
 
    min-height:100vh;
    
    background-color:aquamarine;
}
